<div id="main-wrapper">
  <!--Header-->
  <app-header></app-header>
  <!--End Header-->

  <!--Sidebar-->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar-->

  <div class="page-wrapper">
    <div class="container-fluid">
      <!--Breadcrumbs-->
      <app-breadcrumbs></app-breadcrumbs>
      <!--End Breadcrumbs-->

      <!--Route System-->
      <router-outlet></router-outlet>

      <!--End Route System-->

    </div>
    <!--Footer-->
    <app-footer></app-footer>
    <!--End Footer-->
  </div>
</div>
